*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fffce1;
  background-color: #0e100f;
  font-family: Mori, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  line-height: 1.45;
}

 .boxes-container{
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box {
  width: 75px;
  height: 75px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00bae2;
  font-weight: 600;
  color: #0e100f;
  line-height: 1.2;
  will-change: transform;
}

button {
  display: inline-block;
  outline: none;
  padding: 8px 14px;
  background: #0e100f;
  border: solid 2px #fffce1;
  color: #fffce1;
  text-decoration: none;
  border-radius: 99px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  line-height: 18px;
}

.panel{
  height: 100vh;
  position: relative;
  top: 0;
}

.section{
  width: 100%;
  height: 100vh;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
  gap: 1rem;
}
