.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16.25vh 0;
}

.main1 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.pic {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.corner-section{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    width: 100%;
    justify-content: space-between;
}


.corner-num{
    display: flex;
    gap: 1.25rem;
}